{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="overlay d-flex">
      <div class="logout list-group col-6 mx-auto justify-content-center">
        <div class="text-center">
          <h1>{% trans "Sign Out" %}</h1>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="form-button" type="submit">{% trans 'Sign Out' %}</button> <a href="{% url 'index' %}"><button type="link" class="form-button">Home</button></a>
            
          </form>
        </div>
    </div>     
  </div>
</div>
{% endblock %}
