{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid" id="high">
  <div class="row">
    <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3 col-sm-12 white log-box">
        <div class="text-center">
          <h1>{% trans "Sign Out" %}</h1>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="form-button" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
        </div>
    </div>     
  </div>
</div>
{% endblock %}
