{% extends "base.html" %}
{% load static %}


{% block content %}

    <!-- Game Play Rules and leaderboard buttons -->
    <div class="container">
        <div class="overlay d-flex">
            <div class="list-group col-3 mx-auto justify-content-center">
                <button type="button" class="list-item info-button">Play Game</button>
                <button type="button" class="list-item info-button">Rules</button>
                <button type="button" class="list-item info-button">Leader Board</button>
            </div>
        </div>
    </div>

{% endblock %}