/*.......................................................General Styling*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background-size: contain;
    background-color: rgba(32, 214, 255, 0.505);
}

.text-center {
    text-align: center;
}

#main-buttons {
    position: absolute;
    top:400px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    width: 400px; 
    margin-right: auto; 
    z-index: 999;
    border-radius: 5px;
}

#main-buttons {
    position: absolute;
    background-color: white;
    top:400px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    width: 400px; 
    margin-right: auto; 
    z-index: 999;
    border-radius: 5px;
}

/*.......................................................Highscores*/

#highscore {
    position: absolute;
    top: 300px;
    z-index: 999;
    display: none;
}

#high {
    position: absolute;
    top: 300px;
    z-index: 999;
}

.white {
    background-color: white;
}

#last-round {
    background-color: white;
    position: absolute;
    top: 400px;
    z-index: 999;
}


/*.......................................................Header*/

.header-background {
    background-color: yellow;
    font-family: 'Comfortaa', cursive;
    height: auto;
}

.counter p {
    margin-bottom: -10px;
    position:absolute;
    z-index: 1;
    padding: 10px;
}

/*.......................................................Rules Header*/

.rules-header {
    text-align: left;
    font-size: 22px;
}

.rules-header i:hover {
    cursor: pointer;
    color: #727269;
}

/* modal */ 
#closeButton {
    background-color:#7d7ded;
    margin: auto
}

#closeButton:hover {
    background-color: #6969c9;
}

.modal-body {
    font-size: medium;
    font-weight: 400;
}

.modal-content {
    background: #7d7ded;
}
/*.......................................................Play button*/

#play {
    font-size: 95px;
    background-color: white;
    position: absolute;
    top: 95px;
    background-color: white;
    position: absolute;
    top: 400px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    width: 150px;
    height: 150px;
    margin-right: auto; 
    z-index: 999;
    border: solid 2px black;
    border-radius: 50%;
    text-align: center;
    display: none;
}

#play:hover {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

/*.......................................................User login*/

.user-details {
    text-align: right;
    font-size: 20px;
}

.user-details i:hover {
    cursor: pointer;
    color: #727269;
}

.form-button {
    border: solid;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

.log-box {
    border-radius: 25px;
    padding: 20px;
}

/*.......................................................Map Styling*/

.maps {
    margin-left: -10%;
    height: auto;
    cursor: pointer;
    background-color: #7d7ded;
    position: relative;
}
#map_svg {
    width: 100%;
}

.maps path {
    fill: rgba(0, 217, 65, 0.671);
    stroke: #fff;
    stroke-width: 2px;
    transition: fill 0.3s;
}

.maps path:hover {
    fill: rgb(215, 111, 0);
    stroke: rgb(0, 0, 0);
    cursor: pointer;
}

#details-box {
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

/*..............................................................Game Popups*/

#question {
    display: none;
}

#pop-up {
    position: absolute;
    background-color: white;
    top: 100px;
    z-index: 999;
    display: none;
}

#pop-up {
    position: absolute;
    background-color: white;
    top: 770px;
    z-index: 999;
    display: none;
}

#last-round {
    position: absolute;
    background-color: white;
    top: 770px;
    z-index: 999;
    display: none;
}

/* Game play overlay */

.overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.info-button {
    margin-bottom: 3px;
    margin-top: 3px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: white !important;
}

.info-button:hover {
    cursor: pointer;
}

/*-----------------------------------------Country Colours*/

path.Canada {
    fill: pink;    
} 

path#France {
    fill: red;
}

path#GL {
    fill: red;
}

path#IE {
    fill: green;
}

path#IS {
    fill: blue;
}

path#PL {
    fill: blue;
}

path#ZM {
    fill: blue;
}

path#Italy {
    fill: blue;
}
path#EC {
    fill: orange;
}

path#BY {
    fill: orange;
}

path#Germany {
    fill: orange;
}

path#SR {
    fill: orange;
}

path#Greece {
    fill: yellow;
}

path#PE {
    fill: yellow;
}

path#BR {
    fill: #287028;
}

path#BO {
    fill: #02a99b;
}

path#PY {
    fill: #2b3e8e;
}

path#Philippines {
    fill: #2b3e8e;
}

path#UY {
    fill: red;
}

path#Argentina {
    fill: #2375b7;
}

path#Chile {
    fill: #6cb675;
}

path#UnitedStates {
    fill: #2375b7;
}

path#MX {
    fill: #287028;
}

path#CU {
    fill: #b7201e;
}

path#DO {
    fill: #1a603f;
}

path#HT {
    fill: orange;
}

path#Russia {
    fill: #2375b7;
}

path#Norway {
    fill: #be212f;
}

path#SE {
    fill: yellow;
}

path#Angola {
    fill: yellow;
}

path#FI {
    fill: #287028;
}

path#United.Kingdom {
    fill: #5a5ac7;
}

path#ZA {
    fill: #5a5ac7;
}

path#China {
    fill: #009347;
}

path#Australia {
    fill: #026737;
}

path#IN {
    fill: orange;
}

path#IR {
    fill: yellow;
}

path#PK {
    fill: red;
}

path#MN {
    fill: yellow;
}

path#KZ {
    fill: #39b44d;
}

path#KG {
    fill: #29abe3;
}

path#NL {
    fill: #29abe3;
}

path#SS {
    fill: #29abe3;
}



path#UZ {
    fill: #2c346d;
}

path#TZ {
    fill: #2c346d;
}

path#TJ {
    fill: pink;
}

path#CM {
    fill: pink;
}

path#MG {
    fill: pink;
}

path#CZ {
    fill: pink;
}

path#Japan {
    fill: pink;
}

path#TM {
    fill: #036934;
}

path#UG {
    fill: #036934;
}

path#AF {
    fill: #1fba73;
}

path#AM {
    fill: red;
}

path#UA {
    fill: red;
}

path#TG {
    fill: red;
}

path#Indonesia {
    fill: red;
}

path#GE {
    fill: #697d35;
}

path#NG {
    fill: #697d35;
}

path#GH {
    fill: #697d35;
}

path#EG {
    fill: red;
}

path#LY {
    fill: #00aa9e;
}

path#ML {
    fill: #00aa9e;
}

path#DZ {
    fill: #026737;
}

path#MR {
    fill: orange;
}

path#BF {
    fill: orange;
}

path#ML {
    fill: #069248;
}

path#SO {
    fill: yellow;
}

path#SD {
    fill: purple;
}

path#RO {
    fill: purple;
}

path#LR {
    fill: purple;
}

path#ET {
    fill: orange;
}

path#NA {
    fill: green;
}

path#NE {
    fill: #bdbdea;
}

path#VN {
    fill: #bdbdea;
}

path#CF {
    fill: #bdbdea;
}

path#NE {
    fill: #4949be;
}

path#TD {
    fill: yellow;
}

path#TH {
    fill: #4949be;
}

path#New.Zealand {
    fill: yellow;
}

path#MM {
    fill: yellow;
}



path#CD {
    fill: red;
}

path#Turkey {
    fill: #2575b5;
}

path#Azerbaijan {
    fill: #282b5e;
}

path#ZW {
    fill: #282b5e;
}

path#SA {
    fill: #282b5e;
}

path.Japan {
    fill: red;
}

path#GT {
    fill: #515eaa;
}

path#YE {
    fill: #515eaa;
}

path#HN {
    fill: purple;
}

path#Spain {
    fill: purple;
}


path#NI {
    fill: #e5d022;
}

path#CR {
    fill: #e50432;
}

path#PA {
    fill: #f78829;
}

path#CO {
    fill: #762424;
}

path#LR {
    fill: #762424;
}

path#GA {
    fill: #762424;
}

path#VE {
    fill: #092b67;
}


path#GN {
    fill: #092b67;

/*-------------------------------------------------- logout */

.logout {
    
    background-color: white;
    height: 50%;
    margin-top: 120px;
    border-radius: 25px!important;
}

/*-------------------------------------------------- logout */

.form-button {
    border: solid;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

.log-box {
    border-radius: 25px;
    padding: 20px;
}



/*-------------------------------------------------- Media Query */

@media screen and (max-width: 768px) {
h1 {
    font-size: 50px;
}



}




