{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Game Play Rules and leaderboard buttons -->
<div class="container" id="main-buttons">
    <div class="overlay d-flex">
        <div class="list-group col-6 col-lg-3 mx-auto justify-content-center">
            <button type="link" class="list-item info-button" onclick="roundOne()">Play Game</button>
            <a href=""><button type="link" class="list-item info-button">Rules</button></a>
            <a href=""><button type="link" class="list-item info-button">Leader Board</button></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center pb-3">
            <h3>Where does the National Anthem come from?</h3>
        </div>
    </div>
</div>
<div class="container-fluid buttons">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3 pb-5 text-right" id="play">
            <i class="fa-solid fa-circle-play"></i>
        </div>
        <div class="col-3 pb-5" id="pause">
            <i class="fa-solid fa-circle-pause"></i>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<span id="audio"></span>
<span id="round" class="pb-4"></span>
<!--Message Popups-->
<div class="container-fluid" id="pop-up">
    <div class="row">
        <div class="col-12">
            <span id="pop-up-text"></span>
            <button type="link" class="list-item info-button" id="next-round">Next Round</button>
        </div>
    </div>
</div>

<!--Popup information-->

<div class="container-fluid correct-popup">
    <div class="row">
        <div class="col-12 correct">
            <p>Correct Answer</p>
        </div>
    </div>
</div>


{% endblock %}