{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Game Play Rules and leaderboard buttons -->

<div class="container info-buttons" id="main-buttons">
    <div class="list-group mx-auto justify-content-center pt-1 pb-4">
        <button type="link" class="list-item info-button" onclick="roundOne()">Play Game</button>
        <a href="{% url 'rules' %}"><button type="link" class="list-item info-button">Rules</button></a>
        <button type="link" class="list-item info-button" id="leader-board">Leader Board</button></a>
    </div>
</div>
<div class="container-fluid" id="question">
    <div class="row">
        <div class="col-12 text-center pt-2 pb-2">
            <h3>Where does the National Anthem come from?</h3>
        </div>    
    </div>
</div>
<div class="container" id="play">
    <i class="fa-solid fa-circle-play"></i>
</div>
</div>
<span id="audio"></span>
<!--Counter and rounds-->
<div class="col-12 counter pt-1">
    <span id="round"class="pt-1"></span><p>Current Score:<span id="counter">0</span></p>
</div>
</div>

<!--Message Popups-->
<div class="container" id="pop-up">
    <span id="pop-up-text"></span>
    <button type="link" class="list-item info-button" id="next-round">Next Round</button>
</div>

<!--Highscore Board-->
<div class="container-fluid" id="highscore">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 white">
            <h2>Highscores</h2>
            <table>
                {% for score in scores %}
                <tr>
                    <td class="p-2 pr-4m-2"><p>{{score.name}}</p></td>
                    <td class="p-2 pr-4m-2"><p class="pl-4">{{score.score}}/10</p></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!--Last Round-->
<div class="container" id="last-round">
    <span id="last-round-text"></span>
    <button type="link" class="list-item info-button" id="results">See your Results</button>
</div>

<!--Score-->
<div class="container" id="final">
    <p>Congratulations for completing the quiz! Your score is:</p>
    <span id="final-text"></span>
    <button type="link" class="list-item info-button" id="end">End Game</button>
</div>


{% endblock %}